div{
	text-align:center;
	background-color: #f7bcde;
	border-style: solid;
	border-color: #f542a4;
	border-radius: 20px;
	margin-bottom: 5%;
	margin-top: 5%;
}
form{
text-align: right;


}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
